@if(Context.User.Identity.IsAuthenticated == false)
{
    <li class="nav-item">
        <a asp-controller="Usuarios"
        asp-action="Perfil"
        class="nav-link">
        Log In</a>
    </li>
}
else
{
    <li class="nav-link">
        <a asp-controller="Managed"
        asp-action="Logout"
        class="nav-link text-danger">
    Log out <span class="text-primary">@Context.User.Identity.Name</span></a>

    </li>
}